.book-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.book-card {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    background-color: #fff;
    padding: 15px;
    border-radius: transform 0.2s, box-shadow 0.2s;
    color: indianred;
}

.book-card:hover {
    transform: scale(1.02);
}

.book-card img {
    width: 300px;
    height: auto;
    border-radius: 5px;
    margin-right: 15px;object-fit: cover;
}

.book-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.book-info h2 {
    margin: 0 0 5px;
    font-size: 30px;
}

.book-info h2 a {
    text-decoration: none;
    color: #065f46;
    transition: color 0.3s;
}

.book-info h2 a:hover {
    color: #59b18e;
}

.book-info p {
    margin: 5px 0;
    font-size: 20px;
    color: #444;
}